/* Основные стили */
body {
  margin: 0;
  font-family: "Proxima Nova", sans-serif;
  color: #000000;
  background-color: #f8f8f8;
}

.cv {
  max-width: 1200px;
  margin: 20px auto;
  padding: 5px 20px;
  border: 2px solid #000000;
}

/* Заголовок */
.cv-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 20px;
}

.header-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header-right {
  display: flex;
  margin: 0 15px;
}

.name {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

.tagline {
  font-size: 1.5rem;
  font-weight: 700;
  color: #4b1616;
  margin: 0;
  text-transform: uppercase;
}

.info {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

.info p {
  padding: 0;
  margin: 5px;
}

.info a {
  color: #4b1616;
  text-decoration: none;
}

.info a:hover {
  text-decoration: underline;
}

.profile-photo {
  width: 256px;
  height: 256px;
  object-fit: cover;
  outline: 2px solid #000;
  outline-offset: 10px;
}

.portfolio img {
  width: 40%;
  outline: 2px solid #000;
  outline-offset: 10px;
  margin: 10px;
}

.portfolio h1 {
  border-bottom: 2px solid #000000;
}

.portfolio a {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 25px 0;
  color: #4b1616;
  text-decoration: none;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 10px 50px;
}

section {
  padding: 20px 0;
  border-radius: 10px;
}

.aboutme {
  border: 2px solid #000000;
  padding: 0 10px;
  font-size: 1.1rem;
}

h2 {
  color: #000000;
  font-size: 1.5rem;
  border-bottom: 2px solid #000000;
  margin-bottom: 15px;
}

/* Списки */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

/* Колонки для списков */
.soft-skills ul,
.software-skills ul,
.languages ul,
.interests ul {
  column-count: 3;
  column-gap: 20px; /* Поля между колонками */
}

.soft-skills ul li,
.software-skills ul li,
.languages ul li,
.interests ul li {
  break-inside: avoid; /* Элементы не разрываются между колонками */
}

/* Медиа-запросы для адаптивности */
@media (max-width: 768px) {
  .cv-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .cv {
    border: none;
  }

  .profile-photo {
    margin-bottom: 20px;
  }

  main {
    grid-template-columns: 1fr;
  }

  .soft-skills ul,
  .software-skills ul,
  .languages ul,
  .interests ul {
    column-count: 1; 
  }
}
